Server {
       com.sun.security.auth.module.Krb5LoginModule required
       useKeyTab=true
       keyTab="/var/lib/secret/zookeeper.keytab"
       storeKey=true
       useTicketCache=false
       principal="zkservice/zookeeper.kerberos-demo.local@TDH";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useTicketCache=true;
};
