/*
* The service principal
*/
KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/var/lib/secret/kafka.keytab"
    principal="kafka/kafka.kerberos-demo.local@TDH";
};

/*
* Zookeeper client principal
*/
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
		useTicketCache=false
    keyTab="/var/lib/secret/zookeeper-client.keytab"
    principal="zkclient@TDH";
};
