KafkaServer {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="/var/lib/secret/kafka.keytab"
  storeKey=true
  useTicketCache=false
  principal="kafka@TDH";
};

KafkaClient {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="/var/lib/secret/kafka.keytab"
  storeKey=true
  useTicketCache=false
  principal="kafka@TDH";
};

// Zookeeper client authentication
Client {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  storeKey=true
  useTicketCache=false
  keyTab="/var/lib/secret/kafka.keytab"
  principal="kafka@TDH";
};
